boto==2.49.0
boto3==1.34.131
botocore==1.34.131
certifi==2024.2.2
charset-normalizer==3.3.2
docutils==0.20.1
idna==3.6
importlib_metadata==7.0.2
jaraco.classes==3.3.1
jmespath==1.0.1
keyring==24.3.1
loguru==0.7.2
markdown-it-py==3.0.0
mdurl==0.1.2
more-itertools==10.2.0
nh3==0.2.15
pkginfo==1.10.0
Pygments==2.17.2
python-dateutil==2.9.0.post0
readme_renderer==43.0
requests==2.31.0
requests-toolbelt==1.0.0
rfc3986==2.0.0
rich==13.7.1
s3transfer==0.10.1
setuptools==70.1.0
six==1.16.0
twine==5.0.0
urllib3==2.2.1
zipp==3.18.1
